/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utils */
.flex {
  display: flex;
}
.border {
  border: 3px dashed white;
}
.backg-orange {
  background-color: orange;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: "Slabo 27px", serif;
}

main {
  background-image: url(../img/monviso.jpg);
  background-size: cover;
  background-position: center;
}
/* Header */
.page-header {
  height: 200px;
  /* background-color: #3A4361; */
  position: sticky; /* ???*/
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #eaf4ff, #3A4361);
}
.header-logo {
  height: 100%;
  align-items: center;
}
.header-logo > h1 {
  font-optical-sizing: auto;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: 700;
  font-style: oblique;
  color: white;
}
#pau-logo {
  height: 100%;
  padding: 5px;
  border-radius: 3px;
}
/* Navbar */
.navbar > a {
  /* height: 100%; */
  padding: 10px;
}